{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>个人中心 - 辅导员</title>
    <!--Bootstrape Css-->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel = "stylesheet" type = "text/css" href = "{% static '总样式.css' %}">
</head>
<body>
    <nav class="navbar navbar-dark bg-primary fixed-top navbar-expand-lg topnav">
        <h1 class="navbar-brand">出入校园申请系统</h1>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" style = "float: top;">
                <li class="nav-item">
                    <a class="nav-link active" href="/instructor/{{ins.id}}/home">个人中心<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/instructor/{{ins.id}}/profile">修改个人信息</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/instructor/{{ins.id}}/applications">出入申请记录</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/instructor/{{ins.id}}/application">出入申请管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/instructor/{{ins.id}}/grade">所有年级</a>
                </li>
            </ul>
        </div>
        <a class="nav-link logout" href="/instructor/{{ins.id}}/home"><p><font color ="white">{{ ins.name }}</font></p></a>
        <a class="nav-link logout" href="/" title="退出"><p><font color = "white">退出登录</font></p></a>
    </nav>
    <div id = "background"></div>

    <div class="card stdmsg_center_article"  id = "std_card">
        <br>
        <br>
        <div class="card-body">
          <h5 class="card-title">个人信息</h5>
        </div>
        <ul class="list-group list-group-flush">

            <li class="list-group-item">管理年级：{{ ins.grade_id }}</li>

            <li class="list-group-item">账号：{{ ins.id }}</li>
            <li class="list-group-item">姓名：{{ ins.name }}</li>
            {% if ins.gender == '男'  %}
                <li class="list-group-item">性别：男</li>
            {% else %}
                <li class="list-group-item">性别：女</li>
            {% endif %}
            <li class="list-group-item">职工号：{{ ins.id }}</li>
            <li class="list-group-item">联系方式：{{ ins.tele }}</li>


        </ul>
    </div>

    <nav class="navbar fixed-bottom navbar-light navbar-dark bg-primary">
        <a class="navbar-brand" href="#">感谢使用</a>
    </nav>

    <!--Bootstrape Js-->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>